body{
    background-color: white;
}

.scene{
    position:relative;
    background-color: rgb(82, 82, 82);
    width:800px;
    height:800px;
    top:auto;
    left:auto;
    overflow:hidden;
}

.JumpButtonArea{
    position:absolute;
    width:50px;
    height:50px;
}

.NormalJump{
    position:absolute;
    width:10000px;
    height:100px;
    background-color: white;
}